{{define "title"}}
Task Manager | Golang - Digitalent 2022
{{end}}

{{define "css"}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">
{{end}}

{{define "script"}}
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
<script>
    $(document).ready(function () {
        $('#taskTable').DataTable()
    })
</script>
{{end}}

{{define "content"}}
<div class="container mt-4">
    <div class="row">
        <h1>&#128465;Hapus Task</h1>
        <nav class="navbar navbar-expand-lg bg-light rounded" aria-label="Twelfth navbar example">
            <div class="container justify-content-start">
                <a href="/" class="btn btn-secondary btn-sm"><i class="fa fa-chevron-left"></i> Kembali</a>
                <form class="d-inline" action="/delete-trash" method="POST">
                    <button type="submit" class="btn btn-danger btn-sm ms-2"><i class="fa fa-trash"></i> Hapus Semua Task</button>
                </form>
            </div>
        </nav>
        <div class="col-12">
            <div class="card border-danger mt-3">
                <div class="card-header">
                    Data Task yang sudah dihapus
                </div>
                <div class="card-body">
                    <table id="taskTable" class="table table-striped">
                        <thead>
                            <tr>
                                <th>Task Name</th>
                                <th>Assignee</th>
                                <th>Deadline</th>
                                <th>Deleted At</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{range $index, $task := .Tasks}}
                            <tr>
                                <td>{{$task.Description}}</td>
                                <td>{{$task.Assignee}}</td>
                                <td>{{$task.Date}}</td>
                                <td>{{$task.DeletedAt}}</td>
                                <td>
                                    <form class="d-inline" action="/restore-task/{{$task.ID}}" method="POST">
                                        <button type="submit" class="btn btn-success btn-sm"><i class="fa fa-recycle"></i> Restore</button>
                                    </form>
                                </td>
                            </tr>
                            {{end}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}