{{define "title"}}
About | Golang - Digitalent 2022
{{end}}

{{define "css"}}

{{end}}

{{define "script"}}

{{end}}

{{define "content"}}
<div class="container mt-4">
    <div class="row align-items-center justify-content-around flex-row-reverse">
        <div class="col-lg-6">
            <div class="about-text">
                <h3 class="dark-color">&#128466; Task Manager with Go</h3>
                <h4 class="theme-color">Dibuat oleh : Ifuk Permana, Kelas : GOL-3-3</h4>
                <p>Aplikasi ini merupakan aplikasi simple task manager yang dibuat menggunakan bahasa pemrograman Go.</p>
                <p>Aplikasi ini dibuat untuk memenuhi tugas individu dari pelatihan Digitalent Kominfo 2022 PRO A - GoLang Batch 3.</p>
                <p>Source code ini bisa anda dapatkan dengan mengklik tombol dibawah ini. Terima kasih. &#129302;&#9996;</p>
                
                <div class="btn-bar">
                    <a class="px-btn theme" href="https://github.com/walknight/go-taskman" target="_blank">Source Code</a>
                    <a class="px-btn theme-t" href="https://digitalent.kominfo.go.id/" target="_blank">Digitalent Kominfo</a>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}